#login-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#login {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#login-top {
    flex: 10;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#login-buttons-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-logo {
    font-family: 'Playwrite IN';
    color: white;
    font-size: 5rem;
}

#login-tagline {
    color: transparent;
    font-family: 'DM Sans';
    margin-top: -5%;
    animation: taglineLogin 3.5s 1 ease forwards;
}

@keyframes taglineLogin {
    0% {
        color: transparent;
    }
    90% {
        color: transparent;
    }
    100% {
        color: #FFffff;
    }
}

.login-logo-svg path {
    fill: transparent;
    stroke: #FFffff;
    stroke-width: 1;
    stroke-dasharray: 680;
    stroke-dashoffset: 680;
    animation: animationSvgLogin 4s 1 ease forwards;
  }

  @keyframes animationSvgLogin {
    0% {
        stroke-dashoffset: 680;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: #FFffff;
        stroke-dashoffset: 0;
    }
  }

#login-buttons-buttons-login {
    background: white;
    mix-blend-mode: lighten;
    width: 70vw;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 15%;
    margin-right: 15%;
    border: none;
    border-radius: 12px;
    font-family: 'DM Sans';
    font-weight: 600;
    font-size: 1rem;
    mix-blend-mode: lighten;
    color: #5c7056;
}

#login-buttons-text {
    font-family: 'DM Sans';
    margin-top: 2%;
    font-size: 0.9rem;
    color: white;
}

