#login-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#login {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#login-top {
    flex: 10;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#login-buttons-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-logo {
    font-family: 'Playwrite IN';
    color: white;
    font-size: 5rem;
}

#login-tagline {
    color: white;
    font-family: 'Kanit';
    margin-top: -5%;
}

#login-buttons-buttons-login {
    background: white;
    mix-blend-mode: lighten;
    width: 70vw;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 15%;
    margin-right: 15%;
    border: none;
    border-radius: 12px;
    font-family: 'Kanit';
    font-size: 1.01rem;
    mix-blend-mode: lighten;

}

#login-buttons-buttons-login::before {
    content: "Continue"; /* Add text content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    pointer-events: none; /* Ensure clicks go through to the button */
}

#login-buttons-text {
    font-family: 'Kanit';
    margin-top: 2%;
    font-size: 0.9rem;
    color: white;
}

