#home-overlay-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


#overlay-home-svg {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background: transparent;
}

.home-logo-svg path {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 1;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: animationSvgOverlay 4s 1 ease-in-out forwards;
  }

  @keyframes animationSvgOverlay {
    0% {
        stroke-dashoffset: 500;
    }
    80% {
        fill: transparent;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
  }

#home {
    padding: 0;
    margin: 0;
    background: #FDFCFA;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

#home-top {
    flex: 5;
    display: flex;
    flex-direction: column;   
    color: black;
    font-family: 'Kanit', sans-serif;
}

#home-top-top {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#home-main {
    display: flex;
    flex-direction: column;
    flex: 50;
}

#home-welcome {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    font-family: 'DM Sans', sans-serif;
    padding-top: 2%;
}

#home-welcome-message {
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
}

#home-welcome-date {
    color: #acacac;
    font-size: 0.9rem;
}

#home-image {
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    height: 45vh;
    align-self: center;
    margin-top: 5%;
    background-size: cover;
    background-position: center;
    background: url("./quoteBG.jpg");
    background-size: cover;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #home-quote-image-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  #home-image-quote {
    font-size: 1.5rem;
    font-weight: 600;
  }

  #home-image-author {
    color: #d6d6d6;
    font-size: 0.9rem;
  }

  .menu-icon-button-selected path {
    fill: transparent;
    stroke: #FF8B00;
    stroke-width: 1;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: animationSvg 10s infinite ease-in-out;
  }

  .home-logo-small-svg path{
    fill: transparent;
    stroke: #FF8B00;
    stroke-width: 1;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: animationSvgLogo 8s forwards ease-in-out;
  }


  #home-dailyassesment-card {
    width: 90vw;
    height: 20vh;
    border: solid 2px #cecece;
    align-self: center;
    border-radius: 10px;
    margin-top: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #home-daily-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  #home-daily-sub {
    font-size: 0.7rem;
    color: #959595;
  }

  #home-daily-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5vh;
  }

  #home-daily-estimation {
    color: #959595;
    font-size: 0.8rem;
  }

  #home-daily-timeval {
    font-weight: 500;
  }



  @keyframes animationSvg {
    0% {
        stroke-dashoffset: 5000;
    }
    10% {
        fill: transparent;
    }
    50% {
        fill: #FF8B00;
        stroke-dashoffset: 0;
    }
    90% {
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 5000;
    }
  }

  @keyframes animationSvgLogo {
    0% {
        stroke-dashoffset: 5000;
    }
    100% {
        fill: #FF8B00;
        stroke-dashoffset: 0;
    }
  }