#home {
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #FFB300, #FF9F00, #FF8B00, #FF7700, #CC5500);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

#overlay-home {
    background: linear-gradient(-45deg, #FFB300, #FF9F00, #FF8B00, #FF7700, #CC5500);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

#home-top {
    flex: 5;
    display: flex;
    flex-direction: column;   
    color: white;
    font-family: 'Kanit', sans-serif;
}

#home-top-top {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#home-top-bottom {
    flex: 4;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    justify-content: start;
    transform: translateY(-5%);
}

#home-top-quote {
    line-height: 2.5rem;
}

#home-top-author {
    color: #e6e6e6
}

#home-bottom {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    color: black;
    font-family: 'Kanit', sans-serif;
    border-radius: 20px 20px 0px 0px;
    
}

#home-bottom-top {
    flex: 3;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#home-bottom-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2%;
}

#home-bottom-info {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: justify;
    margin-bottom: 2.8%;
}


#home-bottom-subinfo {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: justify;
    color: #5c5c5c;
}

#home-bottom-card-container {
    flex: 4;
    border: 2px solid #5c5c5c;
    border-radius: 20px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#home-bottom-card-top {
    flex: 1;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
}

#home-bottom-card-bottom {
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-bottom-card-title {
    font-size: 1.2rem;
}

#home-bottom-card-subtitle {
    color: #5c5c5c;
    font-weight: 400;
    font-size: 0.8rem;
}

#home-bottom-card-time {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#home-bottom-card-timetext {
    color: #5c5c5c;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: -2px;
}

#home-bottom-card-esttime {
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 1.5%;
}

#home-logo {
    font-family: 'Playwrite IN';
    font-weight: 500;
}

#home-bottom-takeassesment {
    border: 1px solid #fff;
    background: -webkit-linear-gradient(225deg, #FFB300, #FF9F00, #FF8B00, #FF7700, #CC5500) 0% 0% / 300% 300%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Kanit';
    color: white;
    font-size: 1rem;
    -webkit-animation: gradient_move 5s ease infinite;
    animation: gradient_move 5s ease infinite;
}

#home-bottom-takeassesment :hover {
    cursor: pointer;
    border: 1px solid #FF8B00;
    color: #FF8B00;
    background-color: white;
}

#home-bottom-menu {
    flex: 2;
    border: 0px;
    background-color: #000;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

@-webkit-keyframes gradient_move {
    0%{background-position: 0% 92%}
    50%{background-position: 100% 9%}
    100%{background-position: 0% 92%}
  }
  
  @keyframes gradient_move {
    0%{background-position: 0% 92%}
    50%{background-position: 100% 9%}
    100%{background-position: 0% 92%}
  }